# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
.env/
env/

# Logs & temp files
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3

# OS / Editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# Docker
*.pid
*.tar
*.bak
*.swp
docker-compose.override.yml

# Node (if later you add JS)
node_modules/
npm-debug.log*

# Build / Dist
build/
dist/
*.egg-info/

# Others
__MACOSX/
